/*
Site Name: SILENT COMICS
Author: Anh Hoa	Si

Stylesheet: WooCommerce Stylesheet

This stylesheet overwrites some WooCommerce CSS rules to better match SilentComics theme. 

For more info, check out:
https://docs.woothemes.com/documentation/plugins/woocommerce/

*/

/*--------------------------------------------------------------
>>> WooCommerce							
--------------------------------------------------------------*/
.woocommerce-content  {
	clear: none; /* is this needed? */ 
	margin: 0 auto;
	max-width: 696px; /* could be 988px, or even 1272 if you want a larger product page display */
}

p.demo_store{
	background-color: #FF7369;
}
.woocommerce-content .product_meta .posted_in,
.woocommerce-content .product_meta .posted_in a,
.woocommerce-content .product_meta .tagged_as,
.woocommerce-content .product_meta .tagged_as a {
	text-transform: lowercase;
	font-size: small;
}
.woocommerce .product_title.entry-title {
	text-align: left;
}
.woocommerce .widget-area-wrapper {
		overflow: hidden;
}
	
#payment.woocommerce-checkout-payment,
#payment.form-row place-order {
 background-color: #faf4f4;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs,
#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal {
  background-color: #fff;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs::before,
#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs::after {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal::before,
#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal::after {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
}

.woocommerce-content .product a {
	padding-top: 2.4em;
	line-height: inherit;
	font-size: large;
	color: #00bbff; /* #aadddd & #aacccc = light blue pink would be #ffaaaa */
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-wrap: break-word;
}

.woocommerce-content .woocommerce-price-suffix,
.woocommerce-content .added_to_cart.wc-forward {
	color: darkgreen;
}

.woocommerce-content .added_to_cart.wc-forward:hover {
	color: #0ddb85;
}

.woocommerce-content {
	margin-top: 1em;
}

.woocommerce-content .woocommerce-breadcrumb {
	display: none; /* Chose blocks if you want to show this */
	font: italic 400 24px/1 Futura, "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 1.2em;
	text-align: center;
}

.woocommerce-content .woocommerce-description {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
}
.woocommerce-content #toggle-comments-container,
#reviews .woocommerce-content .toggle-comments,
.woocommerce-content button.toggle-comments {
	display: none;
}
.woocommerce label,
.woocommerce .orderby,
.woocommerce .woocommerce-message,
.woocommerce input[type="number"] {
	font-family:'Fenix', Georgia, serif;
	font-size: medium;
}
.woocommerce .cart .single_add_to_cart_button,
.woocommerce .cart .wc-proceed-to-checkout, 
.woocommerce .cart .single_add_to_cart_button.button.alt,
.woocommerce-content .button.add_to_cart_button.product_type_simple,
.woocommerce-content .woocommerce-message .button.wc-forward, 
.woocommerce .wc-proceed-to-checkout.checkout-button.button.alt.wc-forward,
.woocommerce .cart .button,
.woocommerce.form-submit,
.woocommerce .form-row.place-order .button.alt,
.woocommerce .button.wc-backward,
.woocommerce .button .wc-forward,
.woocommerce .woocommerce-checkout-payment .button.alt,
.woocommerce .lost_reset_password .button,
.woocommerce button.button,
.woocommerce #respond input#submit,.woocommerce input.button,
.woocommerce .button html input[type="button"],
.woocommerce .button input[type="submit"] {
	color: #fff;
	background: #422442; /* #00bbbb seablue */
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.12em;
	text-align: center;
	padding: 1rem;
	text-transform: uppercase;
	width: auto; 
}

.woocommerce .cart .single_add_to_cart_button,
.woocommerce .cart .single_add_to_cart_button:hover,
.woocommerce button.button {
	width: 100%;
}

.woocommerce .cart .single_add_to_cart_button:hover,
.woocommerce .cart .wc-proceed-to-checkout:hover, 
.woocommerce .cart .single_add_to_cart_button.button.alt:hover,
.woocommerce-content .button.add_to_cart_button.product_type_simple:hover,
.woocommerce-content .woocommerce-message .button.wc-forward:hover,
.woocommerce .wc-proceed-to-checkout.checkout-button.button.alt.wc-forward:hover,
.woocommerce .cart .button:hover,
.woocommerce.form-submit:hover,
.woocommerce .form-row.place-order .button.alt:hover,
.woocommerce .button.wc-backward:hover,
.woocommerce .button .wc-forward:hover,
.woocommerce .woocommerce-checkout-payment .button.alt:hover,
.woocommerce .lost_reset_password .button:hover,
.woocommerce button.button:hover,
.woocommerce #respond input#submit,.woocommerce input.button:hover,
.woocommerce .button html input[type="button"]:active,
.woocommerce .button input[type="submit"]:active {
	background-color: #0ddb85;
}

.woocommerce .added_to_cart.wc-forward {
	display: initial;
	color: blueviolet;
	text-transform:  uppercase;
}

.woocommerce .price ins,
.woocommerce .woocommerce-message:before {
	content:"\e015";
	color: #0ddb85;
}

.woocommerce .woocommerce-message {
	border-top-color: #0ddb85;
}

.woocommerce .woocommerce-error,.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	background-color: #faf4f4;	
}
.woocommerce .woocommerce-error .button.wc-forward {
	color: #fff;
	background: #ff00cc;
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 9px;
	text-transform: uppercase;
	width: auto;
}
.woocommerce .woocommerce-error {
	border-top-color: #ff00cc;
}

.woocommerce .woocommerce-error:before{
	content:"\e016";
	color: #ff00cc; /* fushia for now */
}

.woocommerce span.onsale {
	color: black;
	background-color: #ffff00; /* #ff7624 = orange #aaff00=acid green #00ffaa = light flashy green #00ffcc = Light seablue #00bbbb = seablue #ccffdd = lame pale blue #ffcc00 #bbff00 #ffee00 */
	padding: 0.6em;
	font-weight:400;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.12em;
	text-transform: uppercase;
}

.woocommerce .cart_totals .checkout-button.button.alt.wc-forward {
	color: #fff;
	background: #0ddb85; /* green */
	font-size: large;
}

.woocommerce-content .price,
.woocommerce-content .amount {
	color: black;
	font-size: large;
	letter-spacing: 0.1em;
}
.woocommerce-cart .woocommerce-checkout,
.woocommerce-cart .payment_box.payment_method_bacs,
#select2-drop {
	font-size: medium;
	display: none;
}

.woocommerce .shop_table.cart {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
	margin-bottom: 34px;
	width: 100%;
	}
	
small.download-url {
	font-size: large;
	font-style: italic;
	text-decoration: underline;
}