/******************************************************************
Site Name: SILENT COMICS
Author: Silent Comics

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your 
functions file) on the login page. This way you can style 
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
/* the form box */
/*
* This is the Wordpress logo in the admin area.
* You'll have to load your own images and mess
* with the width and height.
*
*/

.login h1 a {
  background: url('../images/login-logo.svg') no-repeat top center;
/* make sure to replace this! */
  width: 326px;
  height: 67px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
}

.no-svg login h1 a {
  background-image: url('../images/login-logo.png');
}  

#loginform {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: none; 
}
body form .input {
  font-family: Inconsolata, monospace;
  color: #424242;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e7e7e7;
  background: #f9f6f2;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
  /*
	You'll have to override some of the default styles
	but since we're referencing the id, it should be easy.
	*/

/* Forget Me Not */
.forgetmenot {
	display: none;
}

/* login button*/

.button.button-primary.button-large,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	background-color: black;
	color: white;
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 0.24em;
	text-transform: uppercase;
    width: 100%;
}

/* background #00ffcc #ff6666 */

.body .theme_1{
    background: #cccccc;
}
body .theme_2{
    background: #eeeeee;
}
body .theme_3{
    background: #ff6666;
}
body .theme_4{
    background: #00ffcc;
}
body .theme_5{
    background: #ffcc00;
}
body .theme_6{
    background: #ffeeee;
}
body .theme_7{
    background: #bbbbbb;
}
body .theme_8{
    background: #ccccff;
}
body .theme_9{
    background: #ff00ee;
}
body .theme_10{
    background: #eebbcc;
}

