/*
Site Name: SILENT COMICS
Author: Anh Hoa	Si

Stylesheet: MailChimp for WordPress Stylesheet

This stylesheet overwrites some MailChimp for WordPress Lite CSS rules to better match the theme. 


For more info, check out: https://wordpress.org/plugins/mailchimp-for-wp/ and https://mc4wp.com/

*/

/*--------------------------------------------------------------
>>> mailchimp-for-wp — CSS form MailChimp 4 WP form 							
--------------------------------------------------------------*/
.mc4wp-form {
	width: 97%; /* doesn't align with the search widget when 100% (WTF?) */
} /* the form element */

.mc4wp-form label { 
	display: none;
} /* labels */

.mc4wp-form input {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	border:1px solid #faf4f4;
	padding: 6px 6px 5px;
	margin:0 4px 0 0;
	line-height:1.2;
	display: block;
    font-family: Inconsolata, monospace;
	font-size: 1rem;
	text-align: center;
	width: 100%;
} /* input fields */

.mc4wp-form input[type="email"],
.mc4wp-form input[type="text"] {
	background: #ffffff;
}

.mc4wp-form input[type="submit"] { 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 0.9rem;
	width: 100%
	background-color: black;
} /* submit button */

.mc4wp-success { 
	color: #0ddb85;
} /* success message */

.mc4wp-error { 
	color: #ff00cc;
	} /* error messages */

@media screen and (max-width: 600px) {
	.mc4wp-form input[type="submit"] {
		font-size: 0.6rem;
	}
} /* for small screens */