/*
Site Name: SILENT COMICS
Author: Anh Hoa	Si

Stylesheet: WooCommerce Stylesheet

This stylesheet overwrites some WooCommerce CSS rules to better match the theme. 
There are a lot of fixes to do on this one, the idea is keeping the custom css as lean as possible

For more info, check out:
https://docs.woothemes.com/documentation/plugins/woocommerce/

*/

/*--------------------------------------------------------------
>>> WooCommerce							
--------------------------------------------------------------*/
.woocommerce-content  {
	clear: both; /* is this needed? */ 
	margin: 0 auto;
	max-width: 696px;
}
.woocommerce  {
	/* font-size: medium; don't do this */
}

.woocommerce .widget-area-wrapper {
		overflow: hidden;
}
	
#payment.woocommerce-checkout-payment,
#payment.form-row place-order {
 background-color: #faf4f4;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs,
#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal {
  background-color: #fff;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs::before,
#payment.woocommerce-checkout-payment .payment_box.payment_method_bacs::after {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #fff;
}

#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal::before,
#payment.woocommerce-checkout-payment .payment_box.payment_method_paypal::after {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #fff;
}

.woocommerce-content .product a {
	padding-top: 2.4em;
	line-height: inherit;
	font-size: large;
	color: #ffaaaa;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.woocommerce-content .added_to_cart.wc-forward {
	color: #000042;
}

.woocommerce-content .added_to_cart.wc-forward:hover {
	color: #0ddb85;
}

.woocommerce-content {
	margin-top: 1em;
}

.woocommerce-content .woocommerce-breadcrumb {
	display: none; /* Chose blocks if you want to show this */
	font: italic 400 24px/1 Futura, "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 1.2em;
	text-align: center;
}

.woocommerce-content .woocommerce-description {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
}
.woocommerce label,
.woocommerce .orderby,
.woocommerce .woocommerce-message,
.woocommerce input[type="number"] {
	font-family: inherit;
	font-size: medium;
}
.woocommerce .cart .single_add_to_cart_button,
.woocommerce .cart .wc-proceed-to-checkout, 
.woocommerce .cart .single_add_to_cart_button.button.alt,
.woocommerce-content .button.add_to_cart_button.product_type_simple,
.woocommerce-content .woocommerce-message .button.wc-forward, 
.woocommerce .wc-proceed-to-checkout.checkout-button.button.alt.wc-forward,
.woocommerce .cart .button,
.woocommerce.form-submit,
.woocommerce .form-row.place-order .button.alt,
.woocommerce .button.wc-backward,
.woocommerce .button .wc-forward,
.woocommerce .woocommerce-checkout-payment .button.alt,
.woocommerce .button html input[type="button"],
.woocommerce .button input[type="submit"] {
	color: #fff;
	background: #000042;
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	padding: 9px;
	text-transform: uppercase;
	width: auto;
}

.woocommerce .added_to_cart.wc-forward {
	display: initial;
	color: blueviolet;
	text-transform:  uppercase;
}

.woocommerce .woocommerce-message {
	border-top-color: lightgreen;
}

.woocommerce .woocommerce-message:before {
	content:"\e015";
	color: lightgreen;
}

.woocommerce .cart_totals .checkout-button.button.alt.wc-forward {
	color: #fff;
	background: #0ddb85;
}

.woocommerce .cart .single_add_to_cart_button:hover,
.woocommerce .cart .wc-proceed-to-checkout:hover, 
.woocommerce .cart .single_add_to_cart_button.button.alt:hover,
.woocommerce-content .button.add_to_cart_button.product_type_simple:hover,
.woocommerce-content .woocommerce-message .button.wc-forward:hover,
.woocommerce .cart .button:hover,
.woocommerce .button.wc-backward:hover,
.woocommerce .button.wc-forward:hover,
.woocommerce .button html input[type="button"]:active,
.woocommerce .button input[type="submit"]:active {
	background-color: lightgreen;
}

.woocommerce-content .price,
.woocommerce-content .amount {
	color: black;
	font-size: large;
	letter-spacing: 0.1em;
}
.woocommerce-cart,
.woocommerce-checkout {
	font-size: medium;
}

.woocommerce .shop_table.cart {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
	margin-bottom: 34px;
	width: 100%;
	}