/*
Site Name: SILENT COMICS
Author: Anh Hoa	Si

Stylesheet: WooCommerce Stylesheet

This stylesheet overwrites some WooCommerce CSS rules to better match the theme. 
There are a lot of fixes to do on this one, the idea is keeping the custom css as lean as possible

For more info, check out:
https://docs.woothemes.com/documentation/plugins/woocommerce/

*/

/*--------------------------------------------------------------
>>> WooCommerce							
--------------------------------------------------------------*/
.woocommerce .widget-area {
	clear: both; /* is this needed? */ 
	margin: 0 auto;
	max-width: 888px;
}

.woocommerce .widget-area-wrapper {
		overflow: hidden;
	}
	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3,
	.footer-widget-4 {

	}
}

.woocommerce-content .product a {
	padding-top: 2.4em;
	line-height: inherit;
	color: pink;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.woocommerce-content {
	margin-top: 1em;
}

.woocommerce-content .woocommerce-breadcrumb {
	display: none; /* Chose blocks if you want to show this */
	font: italic 400 24px/1 Futura, "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 1.2em;
	text-align: center;
}

.woocommerce-content .woocommerce-description {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
}

.woocommerce .cart .single_add_to_cart_button,
.woocommerce .cart .wc-proceed-to-checkout, 
.woocommerce .cart .single_add_to_cart_button.button.alt,
.woocommerce-content .button.add_to_cart_button.product_type_simple,
.woocommerce .wc-proceed-to-checkout.checkout-button.button.alt.wc-forward,
.woocommerce .cart .button,
.woocommerce .form-row.place-order .button.alt,
.woocommerce .button.wc-backward,
.woocommerce .button .wc-forward,
.woocommerce .woocommerce-checkout-payment .button.alt,
html input[type="button"],
input[type="submit"] {
	color: #fff;
	background: #ff6666;
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	padding: 9px;
	text-transform: uppercase;
}

.woocommerce .cart_totals .checkout-button.button.alt.wc-forward {
	color: #fff;
	background: #0ddb85;
}

.woocommerce .cart .single_add_to_cart_button:hover,
.woocommerce .cart .wc-proceed-to-checkout:hover, 
.woocommerce .cart .single_add_to_cart_button.button.alt:hover,
.woocommerce-content .button.add_to_cart_button.product_type_simple:hover,
.woocommerce .cart .button:hover,
.woocommerce .button.wc-backward:hover,
.woocommerce .button.wc-forward:hover,
html input[type="button"]:active,
input[type="submit"]:active {
	background-color: #00ffaa;
}

.woocommerce-content .price,
.woocommerce-content .amount {
	color: black;
	font-size: 18px;
	letter-spacing: 0.1em;
}

.woocommerce .shop_table.cart {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
	margin-bottom: 34px;
	width: 100%;
	}

/* WooCommerce clearings */	

.woocommerce-content:before,
.woocommerce-content:after {
	content: "";
	display: table;
}

.woocommerce-content:after {
	clear: both;
}

/* WooCommerce custom media queries */
@media screen and (min-width: 312px) {
	.woocommerce-content .wrap,
	.woocommerce-content .widget-area .wrap {
		max-width: 264px;
	}
}
@media screen and (min-width: 456px) {
	.woocommerce-content .wrap {
		max-width: 408px;
	}
}
@media screen and (min-width: 600px) {
	.woocommerce-content .wrap {
		max-width: 552px;
	}
}

@media screen and (min-width: 744px) {
	.woocommerce-content .wrap {
		max-width: 696px;
	}
}
@media screen and (min-width: 888px) {
	.woocommerce-content .wrap {
		max-width: 840px;
	}
}
@media screen and (max-width: 816px) {
	.woocommerce-content .product a {
		margin: 0 auto;
		font-size: 1.2rem;
		word-wrap: break-word;
		letter-spacing: normal; /* Check if line needed */
		width: -moz-max-content;
	}
}

@media screen and (max-width: 600px) {
	.woocommerce-content .product a,
	.woocommerce .widget-area-wrapper {
		margin: auto;
		font-size: 1.2rem;
		word-wrap: break-word;
		letter-spacing: normal; /* Check if line needed */
		width: -moz-max-content;
		overflow: hidden;
	}
}