/*
Site Name: SILENT COMICS
Author: Anh Hoa	Si

Stylesheet: WooCommerce Stylesheet

This stylesheet overwrites some WooCommerce CSS rules to better match the theme. 
There are a lot of fixes to do on this one, no the least being that the plugin breaks the main blog layout

For more info, check out:
https://docs.woothemes.com/documentation/plugins/woocommerce/

*/

/*--------------------------------------------------------------
>>> WooCommerce							
--------------------------------------------------------------*/
.woocommerce-content .entry-wrap {
	clear: both;
	margin: 0 auto;
	max-width: 840px;
}
#product {
	padding-top: 2.4em;
}

.woocommerce-content html { font-size: 62.5%; } 
body { font-size: 16px; font-size: 1.6rem; } /* =24px */
h1   { font-size: 24px; font-size: 2.4rem; } /* =36px */

.woocommerce-content body,
.woocommerce-content button,
.woocommerce-content input,
.woocommerce-content select,
.woocommerce-content textarea {
	color:  #422442;
	font-family:'Fenix', Georgia, serif;
	font-size: 1.6rem;
	line-height: 1.2;
}

.woocommerce-content h1, h2, h3 {
	clear: both;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: 700;
}
.woocommerce-content h4, h5, h6 {
	clear: both;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: 300; 
}
.woocommerce-content h1 {
	font-size: 3.2rem;
	line-height: 1;
}
.woocommerce-content h2 {
	font-size: 2.4rem;
	line-height: 1;
}
.woocommerce h3,
.woocommerce .product h3 a {
	font-size: inherit;
	line-height: inherit;
	color: pink;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.woocommerce-content h4 {
	font-size: 1.8rem;
	line-height: 1.2;
}
.woocommerce-content h5 {
	font-size: 1.6rem;
	line-height: 1;
}
.woocommerce-content h6 {
	font-size: 1.2rem;
	line-height: 1;
}
.woocommerce-content hr {
}
.woocommerce-content .woocommerce-breadcrumb {
	display: block;
	font: italic 400 24px/1 Futura, "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 1.2em;
	text-align: center;
}
.woocommerce-content .woocommerce-description {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
}
.woocommerce .cart .single_add_to_cart_button,
.woocommerce .cart .wc-proceed-to-checkout, 
.woocommerce .cart .single_add_to_cart_button.button.alt,
.woocommerce-content .button.add_to_cart_button.product_type_simple,
.woocommerce .wc-proceed-to-checkout .checkout-button.button.alt.wc-forward,
.woocommerce .cart .button,
.woocommerce .button.wc-forward,
.woocommerce .woocommerce-checkout-payment .button.alt,
html input[type="button"],
input[type="submit"] {
	color: #fff;
	background: black;
	cursor: pointer;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.1em;
	padding: 16px;
	text-transform: uppercase;
}
.woocommerce .cart .single_add_to_cart_button:hover,
.woocommerce .cart .wc-proceed-to-checkout:hover, 
.woocommerce .cart .single_add_to_cart_button.button.alt:hover,
.woocommerce-content .button.add_to_cart_button.product_type_simple:hover,
.woocommerce .button.wc-forward:hover,
.woocommerce .cart .button:hover,
html input[type="button"]:active,
input[type="submit"]:active {
	background-color: #00ffaa;
}


.woocommerce-content .price,
.woocommerce-content .amount {
	color: black;
	font-size: 18px;
	letter-spacing: 0.1em;
}

.woocommerce .shop_table.cart {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
	margin-bottom: 34px;
	width: 100%;
	}

/* WooCommerce clearings */	

.woocommerce-content:before,
.woocommerce-content:after {
	content: "";
	display: table;
}

.woocommerce-content:after {
	clear: both;
}

/* WooCommerce custom media queries */
@media screen and (min-width: 312px) {
	.woocommerce-content .entry-wrap {
		max-width: 264px;
	}
}
@media screen and (min-width: 456px) {
	.woocommerce-content .entry-wrap {
		max-width: 408px;
	}
}
@media screen and (min-width: 600px) {
	.woocommerce-content .entry-wrap {
		max-width: 552px;
	}
}

@media screen and (min-width: 744px) {
	.woocommerce-content .entry-wrap {
		max-width: 696px;
	}
}
@media screen and (min-width: 888px) {
	.woocommerce-content .entry-wrap {
		margin: 0 auto;
		max-width: 840px;
	}
}

@media screen and (max-width: 600px) {
	.woocommerce-content .entry-wrap {
		margin: 0 auto;
		max-width: 264px;
	}
}